<div class="container">
  <h2 class="text-center">Hoteis</h2>
  <button class="btn btn-success"
  style="margin-left: 10px;" (click)="showDialog()"><i class="fa fa-plus" aria-hidden="true"></i> Novo</button>
  <div class="ui-g-12">
    <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input #fa type="text" pInputText size="20" placeholder="Busca..." maxlength="10">
    </div>
  <p-dataTable [value]="hoteis" [paginator]="true" [rows]="8"
  [responsive]="true" emptyMessage="Nenhum hotel encontrado..." [globalFilter]="fa"
  [rowsPerPageOptions]="['8','15', '20', '30', '50', '100']">
  <p-column styleClass="tabela-acao" header="Ações">
      <ng-template pTemplate="body" let-hot="rowData">
          <button class="btn btn-danger" pTooltip="Remover" tooltipPosition="bottom"
          (click)="confirmarExclusao(hot)">
            <i class="fa fa-trash"></i></button>
          <button class="btn btn-primary" style="margin-left: 5px;" pTooltip="Alterar"
          tooltipPosition="bottom" (click)="selecionar(hot)">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
      </ng-template>
    </p-column>
  <p-column field="descricao" header="Cidade" class="tabela-center"></p-column>
  <p-column field="cidade.descricao" header="Cidade" styleClass="text-center"></p-column>
  <p-column field="estrelas" header="Estrelas" styleClass="estrelas"></p-column>
  
  </p-dataTable>
</div>
</div>

<p-dialog header="Hotel" [(visible)]="display" [width]="500" [modal]="true"
[draggable]="false">
  <div class="container">
    <div class="ui-sm-12 ui-md-12 ui-g-12">
        <span class="ui-float-label">
    <input id="float-input" type="text" size="35" pInputText name="descricao"
    maxlength="50" [(ngModel)]="newHotel.descricao" required>
    <label for="float-input">Descrição</label>
    </span>
  </div>
    <div class="ui-sm-12 ui-md-12 ui-g-12">
    <span class="ui-float-label">
      <input id="float-input-2" type="number" pInputText name="estado"
      maxlength="2" [(ngModel)]="newHotel.estrelas" required>
      <label for="float-input-2">Estrelas</label>
      </span>
    </div>
    <div class="ui-sm-12 ui-md-12 ui-g-12">
      <p-dropdown [options]="cidades" [(ngModel)]="newHotel.cidade" 
      placeholder="Selecione uma cidade" optionLabel="descricao" [showClear]="true"></p-dropdown>
    </div>
    <div class="ui-sm-12 ui-md-12 ui-g-12">
       Café da manhã: <br>
        <p-radioButton name="group2" value="S" 
          label="Sim" [(ngModel)]="newHotel.cafeManha" inputId="opt1"></p-radioButton>
        <p-radioButton name="group2" value="N" 
          label="Não" [(ngModel)]="newHotel.cafeManha" inputId="opt2"></p-radioButton>
</div>

<div class="ui-sm-12 ui-md-12 ui-g-12"> 
  Almoço: <br>
      <p-radioButton name="group1" value="S" 
        label="Sim" [(ngModel)]="newHotel.almoco" inputId="opt1"></p-radioButton>
      <p-radioButton name="group1" value="N" 
        label="Não" [(ngModel)]="newHotel.almoco" inputId="opt2"></p-radioButton>
</div>

<div class="ui-sm-12 ui-md-12 ui-g-12">
    <span class="ui-float-label">
<input id="float-input" type="text" pInputText name="preco"
maxlength="15" [(ngModel)]="newHotel.precoDiaria" required>
<label for="float-input">Preço Diária</label>
</span>
</div>

<br>
<div class="ui-sm-12 ui-md-12 ui-g-12">
<button class="btn btn-outline-success" (click)="gravar()">Gravar</button>
<button class="btn btn-outline-danger" (click)="fecharDialog()" style="margin-left: 5px;">Fechar</button>
</div>
</div>
</p-dialog>
